.home__container {
    background-color: rgb(255, 255, 255);
}

.banner {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 70% 30%;
    margin-bottom: 5rem;
}

.banner__title {
    margin-top: 3rem;
}

.banner__title h1:first-child {
    margin-bottom: -0.5rem;
}

.banner__title h1 {
    font-size: 50px;
    margin-bottom: 0.8rem;
}

.banner__title p {
    width: 80%;
}

.banner__image img {
    width: 100%;
    border-radius: 8px;
    margin-top: 1rem;
}

.primary__button {
    border: 0px;
    border-radius: 8px;
    padding: 12px 20px;
    margin-top: 1rem;
    background-color: #dff540;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 18px;
}

.services__container {
    background-color: black;
    padding: 2rem;
    margin-block: 2rem;
    color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.services__container h1 {
    margin-block: 1rem;
}

.services {
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    text-align: center;
    background-color: #28282A;
    color: #fff;
    padding: 1rem;
    border-radius: 20px;
}

.card span {
    font-size: 45px;
    font-weight: 600;
}

.checkout__button {
    padding: 8px;
    width: 100%;
    background-color: #dff540;
    border-radius: 100vw;
    font-size: 20px;
    font-weight: 600;
    margin-top: 2rem;
    border: none;
}

.featured {
    background-color: #3c4400 !important;
}

@media screen and (max-width:620px) {
    .banner {
        grid-template-columns: 1fr;
        margin-top: 1rem;
    }

    .services {
        grid-template-columns: 1fr;
    }

    .contact__container {
        grid-template-columns: 1fr !important;
    }
}

.contact__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    gap: 1rem;
    border-radius: 20px;
    background-color: rgb(219, 219, 219);
    margin-block: 1rem;
    color: white;
}

.contact__container h1 {
    text-align: center;
}

.contact__container img {
    width: 100%;
    padding-top: 5px;
    border-radius: 12px;
}

.contact__form {
    background-color: #28282A;
    padding: 1rem;
    border-radius: 12px;
}

.contact__container label {
    display: block;
    margin: 0;
    font-size: 18px;
    padding: 0;
    text-align: center;
}

.contact__form input {
    padding-left: 5px;
    font-size: 18px;
    margin: auto;
    margin-block: 1rem;
    border: 0px;
    border-radius: 3px;
    display: block;
    width: 50%;
    height: 40px;
}

.contact__container .big__message {
    height: 60px;
}

.contact__container .button {
    text-align: center;
}